*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: century;

}
header{
    display: flex;
 
    
    height: 300vh;
  
}
.logo{
    width: 25%;
    margin-top: 15px;
}
.user-image{
    width: 15%;
    margin: 2rem;
}
.ico-search{
    display: flex;
    margin-bottom: 10rem;

}
.left-user-info{
    justify-content: space-between;
    width: 25%;
    background-color: #F8F9FA;
}
.right-option{
    width: 100%;
    background-color: #E8E7DF;
    overflow:auto;
}
.head{
    display: flex;
    justify-content: space-between;
    
}
.short{
   
}
.actions-post{
    display: flex;
    
}
.action-post{
    display: flex;
    margin-right: 20px;
    margin-top:0.5rem ;
    justify-content: space-between;
}
.action-icon{
    font-size: 25px;
    margin-right: 7px;
    color: #183153;
    
}
.action-icon p{
    margin-left:px;
    color: #183153;
    font-size: small;
}

/* css for incon in connectee.html*/

.action-postb{
    display: flex;
    margin: 2rem;
}
.action-postb option{
    margin-right: 25px;
}